body {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url("../res/space-08.jpg");
  background-size: 100%;
  background-position: 50% 50%;
}

canvas {
  border: 1px solid white;
}

img.logo {
  width: 300px;
  height: auto;
}
