@font-face {
  font-family: 'gameFont';
  src: url('../res/fonts/PressStart2P.ttf');
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url("../res/space-08.jpg");
  background-size: 100%;
  background-position: 50% 50%;
  font-family: sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 600px;
  margin-bottom: 10px;
}

.spacer {
  background-color: transparent;
  width: 10px;
  width: 10%;
}

canvas {
  border: 1px solid white;
}

img.logo {
  top: 100px;
  width: 300px;
  height: 126px;
  width: 40%;
}

#canvasWrap {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .4);
  height: 800px;
  width: 600px;
  z-index: 2;
  color: white;
}

.hidden {
  visibility: hidden;
}

#start {
  display: flex;
  /*justify-content: center;*/
  align-items: center;
  flex-direction: column;
}

h1 {
  font-family: 'gameFont', sans-serif;
  font-size: 36px;
  text-align: center;
}

h2 {
  font-family: 'gameFont', sans-serif;
  font-size: 24px;
  text-align: center;
}

h2:hover, h3:hover {
  cursor: pointer;
}

span {
  color: yellow;
}

#controls {
  display: flex;
  align-items: flex-end;
  z-index: 0;
  background: transparent;
}

#controls * {
  position: absolute;
}

h3 {
  margin-left: 16px;
  z-index: -1;
  font-family: 'gameFont';
  font-size: 12px;
}

i {
  color: white;
}

i:hover {
  color: yellow;
}

.icons {
  text-align: right;
  width: 10%;
}
p {
  font-size: 18px;
}
